.myourcomplaint{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 25px;
}
.manageSheading h3{
    text-align: center;
    font-size: 25px;
}
.managescomplaints{
    display: flex;
    flex-direction: column;
    width: 67%;
    border: 1px solid #EBEBEB;
    margin: 15px auto;
}
.manageallcomplaint{
    margin: 15px auto;
    display: flex;
    width: 97%;
    border: 1px solid #EBEBEB;
}
.managecomplaint_info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px;
}
.manageablackimg{
    border-radius: 50%;
    padding: 15px 20px;
    background-color: lightblue;
}
.managecomplaint_infodetails{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.managecomplaint_infoname{
    display: flex;
}
.managecomplaint_infoname h3{
    font-size: 18px;
}
.managecomplaint_infodetails h5{
    color: #B5B5B5;
    font-weight: 500;
    font-size: 14px;
}
.managecomplaint_infodetails p{
    font-size: 14px;
    color: #959292;
}
.managestatus_edit{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}
.managestatus{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.managestatus h4{
    font-size: 16px;
}
.managestatus span{
    margin-left: 10px;
    font-size: 16px;
    color: red;
}
.manageedit{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}
.managecomplaint_title{
    font-size: 16px;
}
.manageeditcomplaint{
    padding: 8px 10px;
    border-radius: 10px;
    color: white;
    background-color: black;
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
}
.deletecomplaint{
    padding: 8px 10px;
    border-radius: 10px;
    color: white;
    background-color: black;
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
}

@media (max-width: 768px){
    .managescomplaints{
        width: 80%;
    }
    .manageallcomplaint{
        width: 95%;
    }
}
@media (max-width: 666px){
    .managescomplaints{
        width: 90%;
    }
}
@media (max-width: 582px){
    .managescomplaints{
        width: 95%;
    }
}
@media (max-width: 560px){
    .manageSheading h3{
        font-size: 20px;
    }
    .student_yourcomplaint h1{
        font-size: 16px;
    }
    .yourcomplaint_options{
        margin-bottom: 0px;
    }
    .yourcomplaint_options h3{
        font-size: 12px;
    }
    .managecomplaint_info{
        padding: 5px;
    }
    .managecomplaint_infodetails{
        margin-left: 10px;
    }
    .managecomplaint_infoname h3 {
        font-size: 16px;
    }
    .manageablackimg{
        padding: 10px 15px;
    }
    .managecomplaint_infoname h3 {
        font-size: 14px;
    }
    .managecomplaint_infodetails h5 {
        font-size: 13px;
    }
    .managecomplaint_title {
        font-size: 14px;
    }
    .managecomplaint_infodetails p {
        font-size: 12px;
    }
    .managestatus h4 {
        font-size: 14px;
    }
    .managestatus span {
        font-size: 14px;
    }
    .manageeditcomplaint {
        padding: 5px;
        font-size: 9px;
        margin-right: 10px;
    }
}
@media (max-width: 413px){
    .student_complaint h1{
        font-size: 13px;
    }
    .yourcomplaint_options h3{
        font-size: 10px;
    }
    .manageablackimg {
        padding: 4px 10px;
    }
    .managecomplaint_info{
        padding: 4px;
    }
    .managecomplaint_infodetails{
        margin-left: 7px;
    }
    .managecomplaint_infoname h3 {
        font-size: 14px;
    }
    .managecomplaint_infoname h3 {
        font-size: 12px;
    }
    .managecomplaint_infodetails h5 {
        font-size: 12px;
    }
    .managecomplaint_title {
        font-size: 12px;
    }
    .managecomplaint_infodetails p {
        font-size: 11px;
    }
    .managestatus h4 {
        font-size: 12px;
    }
    .managestatus span {
        font-size: 12px;
        margin-left: 5px;
    }
    .manageeditcomplaint {
        padding: 3px;
        font-size: 7px;
        margin-right: 3px;
    }
    .managestatus{
        margin-right: 5px;
    }
    .manageSheading h3 {
        font-size: 17px;
    }
}