/* .wholefprofile{
    width: fit-content;
    margin: auto;
    height: fit-content;
} */
.facultyinfo{
  display: flex;
  margin: 25px auto;
  /* width: 98%; */
  border: 1px solid #b5b5b5;
  box-shadow: 2px 4px #c0bdbd;
  padding: 12px 12px 30px 12px;
}
.fprofilesection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fprofileimg{
    width: 110px;
    margin-bottom: 10px;
}
.fcameraimg{
    width: 40px;
}
.fprofiledetails{
    margin-left: 14px;
    padding-top: 10px;
}
.fprofiledetails h3{
    font-size: 18px;
}
.fprofiledetails h4{
    font-size: 14px;
}
.fprofiledetails h5{
    color: #B5B5B5;
    font-weight: 500;
    font-size: 14px;
}
.fprofiledetails p{
    color: #B5B5B5;
    font-size: 14px;
}
.feditprofile{
    margin-left: 45px;
}
.feditp{
    padding: 8px 18px;
    border-radius: 10px;
    color: white;
    background-color: black;
    font-size: 14px;
}
.fservices{
    display: flex;
    flex-direction: column;
}
.fservices h3{
    margin-bottom: 25px;
    font-size: 25px;
}
.fcomplaintsection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ffeatureImage {
    width: 210px;
    margin-bottom: 10px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #b5b5b5;
    border-radius: 45%;
}
.fleavesection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fattendancesection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 969px){
    .feditprofile{
        margin-left: 0px;
    }
    .feditp{
        padding: 7px 16px;
        font-size: 12px;
    }
}

@media (max-width: 912px){
    .fprofileimg{
        width: 90px;
    }
    .fcameraimg{
        width: 30px;
    }
    .fprofiledetails h3{
        font-size: 15px;
    }
    .fprofiledetails h4{
        font-size: 12px;
    }
    .fprofiledetails h5{
        font-size: 12px;
    }
    .fprofiledetails p{
        font-size: 12px;
    }
}

@media (max-width: 796px){
    .fprofileimg{
        width: 70px;
    }
    .fcameraimg{
        width: 20px;
    }
    .fprofiledetails h3{
        font-size: 13px;
    }
    .fprofiledetails h4{
        font-size: 10px;
    }
    .fprofiledetails h5{
        font-size: 10px;
    }
    .fprofiledetails p{
        font-size: 10px;
    }
    .feditp{
        padding: 5px 13px;
        font-size: 10px;
    }
}

@media (max-width: 658px){
    .fprofileimg{
        width: 60px;
    }
    .fcameraimg{
        width: 15px;
    }
    .fprofiledetails{
        padding-top:7px;
        margin-left:7px;
    }
    .feditp{
        font-size: 8px;
        width: 65px;
    }
}

@media (max-width: 425px){
    .facultyinfo{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 8px 20px 8px;
        margin: 25px;
    }
    .fprofilesection{
        flex-direction: row;
    }
    .fprofiledetails{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        padding-top: 0px;
    }
    .fprofileimg{
        margin-right: 8px;
    }
    .fprofiledetails h3{
        font-size: 13px;
    }
    .fprofiledetails h4{
        font-size: 10px;
    }
    .fprofiledetails h5{
        font-size: 10px;
    }
    .fprofiledetails p{
        font-size: 10px;
        text-align: center;
    }
    .feditp{
        font-size: 10px;
        width: 79px;
    }
    .fservices h3{
        display: none;
    }
}