.nav {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  color: white;
  z-index: 1;
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
a {
  text-decoration: none;
}
.logo-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 2rem;
  font-weight: 100;
  margin-left: 15px;
}
.Navbar-items {
  display: flex;
  margin-left: 30px;
}
.Navbar-items ul {
  font-size: 15px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.Navbar-items li {
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
}
.nav-login button {
  display: flex;
  padding: 11px 20px 11px 20px;
  font-weight: 600;
  border-radius: 10px;
  margin-right: 60px;
}
.menu-btn {
  display: none;
}
.side {
  display: none;
}
.show {
  display: block;
}
/* Media query for phone */
@media (max-width: 613px) {
  .nav-login button {
    margin-right: 30px;
  }
}
@media (max-width: 567px) {
  .Navbar-items ul {
    font-size: 12px;
  }
  .nav-login button {
    padding: 8px 15px 8px 15px;
  }
  .logo {
    font-size: 1.2rem;
  }
}

@media (max-width: 477px) {
  .Navbar-items {
    display: none;
  }
  .menu-btn {
    display: block;
  }

  .hide {
    display: none;
  }

  .side {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    height: 50vh;
    /* width: 24vw; */
    width: 36vw;
    /* transition: 0.5s; */
    transition: all 0.3s ease;
    /* display: none; */
    overflow: scroll;
  }

  .show {
    display: block;
  }

  .sidebar {
    margin-top: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transition: 0.3s; */
    /* display: none; */
  }

  .cancel-btn {
    position: absolute;
    top: 8%;
    right: 14%;
  }

  .socials {
    margin-right: 0px;
  }

  .login-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
